/* Estilos CSS responsivos */

/* Para dispositivos com largura de tela até 600px (geralmente mobile) */
@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;  /* Removido a margem para aproveitar toda a largura da tela */
  }

  .container {
    min-height: 100vh; /* Adicionado para ocupar a tela inteira */
    padding: 0.5rem; /* Reduzido o preenchimento */
    box-shadow: none;
    border-radius: 0;
    max-width: 100%; /* Faz com que o contêiner se ajuste à largura da tela */
    width: calc(100% - 2 * 0.5rem); /* Ajuste a largura para ser a largura total da tela menos o preenchimento */
    margin: 0.5rem;  /* Adicionado uma margem para criar um pequeno espaço entre o container e as bordas da tela */
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .button {
    padding: .5rem 1rem;
    font-size: .875rem;
  }
}

/* Para dispositivos com largura de tela até 900px (geralmente tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    padding: 1rem; /* Reduzido o preenchimento */
    width: calc(100% - 2 * 1rem); /* Ajuste a largura para ser a largura total da tela menos o preenchimento */
    margin: 1rem;  /* Adicionado uma margem para criar um pequeno espaço entre o container e as bordas da tela */
  }

  .form-group {
    margin-bottom: 0.75rem;
  }

  .button {
    padding: .65rem 1.15rem;
    font-size: .95rem;
  }
}
