body {
  background-color: orange;
  font-family: Arial;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  background-color: #1E90FF;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
}

h1 {
  color: black;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.button {
  display: block;
  margin: 0 auto;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #0cf;
}

.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}

.button:hover {
  color: #fff;
}

.button:hover:before {
  width: 100%;
}

/* Estilos CSS responsivos */

/* Para dispositivos com largura de tela até 600px (geralmente mobile) */
@media (max-width: 600px) {
  body {
    padding: 0;
  }

  .container {
    min-height: 100vh; /* Adicionado para ocupar a tela inteira */
    padding: 1rem;
    box-shadow: none;
    border-radius: 0;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .button {
    padding: .5rem 1rem;
    font-size: .875rem;
  }
}

/* Para dispositivos com largura de tela até 900px (geralmente tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    padding: 1.5rem;
  }

  .form-group {
    margin-bottom: 0.75rem;
  }

  .button {
    padding: .65rem 1.15rem;
    font-size: .95rem;
  }
}
