body {
  background-color: orange;
}

.container {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  background-color: #1E90FF;
  padding: 2rem;
}

h1 {
  color: black;
}

.btn-primary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
